<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Layout</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>	
		<h1>Works best on 1440 x 980 display size</h1>
		<!-- layout 0 -->
		<div class="layout0">
		<div class="header">
			
		</div>
		<div class="banner">
			<h1>Layout 0</h1>
		</div>
		<div class="wrapper">
			<div class="blog"></div>
			<div class="form"></div>
		</div>
		<div class="footer"></div>
		</div>
		<!-- layout 0 end -->
		<!-- divider -->
		<div class="divider"></div>
		<!-- divider end -->
		<!-- layout1 start -->
		<div class="layout1">
			<div class="layout1">
				<div class="header"></div>
				<div class="banner">
					<h1>Layout 1</h1>
				</div>
				<div class="wrapper">
					<div class="blog"></div>
					<div class="form"></div>
				</div>
			</div>
		</div>
		<!-- layout 1 end -->
			<!-- divider -->
		<div class="divider"></div>
		<!-- divider end -->
		<!-- layout2 start -->
		<div class="layout2">
			<div class="header"></div>
			<div class="banner">
				<h1>Layout 2</h1>
			</div>
			<div class="article">
				<div class="article1"></div>
				<div class="article2"></div>
				<div class="article3"></div>
			</div>
			<div class="wrapper">
				<div class="blog"></div>
				<div class="form"></div>

			</div>
			<div class="footer"></div>
		</div>
		<!-- layout 2 end -->
		<!-- divider -->
		<div class="divider"></div>
		<!-- divider end -->
		<!-- layout 3 start -->
		<div class="layout3">
			<div class="layout2">
			<div class="header"></div>
			<div class="banner">
				<h1>Layout 3</h1>
			</div>
			<div class="article">
				<div class="article1"></div>
				<div class="article2"></div>
				<div class="article3"></div>
			</div>
			<div class="adbox"></div>
			<div class="footer">
				<div class="footerbox">
					
				</div>
			</div>
		</div>
		
		</div>
		<!-- layout 3 end -->
		<!-- divider -->
		<div class="divider"></div>
		<!-- divider end -->
		<!-- layout 4 start -->
		<div class="layout4">
			<div class="banner">
				<h1>Layout 4</h1>
			</div>
			<div class="wrapper">
				<div class="blog"></div>
				<div class="form"></div>
			</div>
			<div class="article">
				<div class="article1"></div>
				<div class="article2"></div>
				<div class="article3"></div>
			</div>
			<div class="wrapper2">
				<div class="about"></div>
				<div class="form"></div>
			</div>
		</div>
		<!-- layout 4 end -->
		
</body>
</html>