*{
	margin: 0;
	padding: 0;
}
/*Header start*/

header{
 background-color: #18212D;
 padding: 10px 0px;
}

.wrapper {
	
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
} 

.logo {
	padding: 10px 0px;
	width: 15%;
	float: left;
}
.logo img{
	width: 100%;
}

.menu {
	margin-top: 25px;	
	width: 70%;
	float: right;
	padding: 10px 0px;

}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	color: white;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #1F5C7D;
	transition: .5s;
}
/*header end*/

/*Banner start*/
.banner {
	background-image: url(slide.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	
}

.banner-content {
	margin-top: 200px;
	margin-bottom: 50px;
	width: 45%;

}
.banner-content p:first-child{
	color: white;
	font-size: 28px;
	font-family: sans-serif;
}
.banner-content h1{
	color: #007BBC;
	font-size: 35px;
	font-family: sans-serif;
}
.banner-content p:nth-last-child(2){
	color: white;
	font-size: 15px;
	font-family: sans-serif;
	line-height: 1.5;
}
.banner-content button{
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 18px;
	color: #686868;
	text-transform: uppercase;
	transition: .5s;
}
.banner-content button span{
	background-color: #007EB4;
	padding: 5px 8px;
	border-radius: 50%;
	color: white;
	margin-left: 10px;
}
/*Banner end*/

/*service start*/

.service {
	background-color: #18212F;
	padding: 50px 0px;
}

.single {
	border-right: 1px solid white;
	margin-left: 9px;
	width: 28%;
	padding: 30px 20px;
	float: left;
}
.single:last-child{
	border: none;
}

.title {
	overflow: hidden;

}

.icon {
	
	width:25%;
	float: left;
}
.icon img{
	
	width: 100%;
}

}
.icon-content {
	
	width: 70%;
	float: left;
	margin-top: 7px;
}
.icon-content h1{
	color: white;
	text-transform: capitalize;
	font-family: sans-serif;

}
.icon-content h2{
	color: #007BBC;
	text-transform: capitalize;
	font-family: sans-serif;

}

.content {
}
.content p{
	margin-top: 10px;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5;
}
/*service end*/
/*contacts starts*/
.contact{
	background-color: #040811;
	padding: 10px 0px;
	
}
.address{
	width: 28%;	
	color: white;
	float: left;
	margin-top: 20px;
	padding: 40px 20px;
}
.address h1 span{
	color: #007BBC;
	padding: 10px;
}
.testimonial {
	width: 28%;
	color: white;
	padding: 40px 20px;
	float: left;

}
.testimonial h1 span{
	color:#007BBC;
}
.box {
	border: 1px solid #14171F;
	border-radius: 5px;
	padding: 40px 20px;
	background-color: #14171F;
}

.title {
}

.testimonial p{
	color:white;
	padding: 5px 6px;
	margin-top: 20px;
}
.author {
	padding-top: 20px;
	margin-left: 20px;
}
.author p{
	margin-top: -5px;
	font-size: 10px;
}

.downlaod {
	width: 28%;
	color: white;
	padding: 40px 20px;
	float: left;
	overflow: hidden;
	
}

.img {
	float: left;
	width: 50%;
	
}

.img-content {
	float: left;
	padding: 10px;
	width: 40%;
}
.img-content h2{
	display: block;
}
.img-content h1{
	color: #007BBC;

	float: left;
	display: block;
}
/*contact ends*/
/*footer starts*/
footer{
	background-color: #18212F;
}
.footer-right{
	width: 60%;
	float: left;
}
.footer-menu {
	margin-top: 25px;	
	font-size: 15px;
	float: left;
	padding: 10px 0px;

}
.footer-menu ul{
	float: left;
}
.footer-menu ul li{
	list-style: none;
	float: left;
	border-right: 1px solid white;
}
.footer-menu ul li a{
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	color: white;

}
.footer-menu ul li:last-child{
	padding-right: 0;
	border: none;

}
.footer-menu ul li:last-child a{
	padding-right: 0;
	
}
.footer-menu ul li a:hover{
	color: #1F5C7D;
	transition: .5s;
}
.copyright{
	color: white;
	font-size: 15px;
	padding: 10px 0px;
	margin-left: 10px;

}
.footer-left{
	width: 30%;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}

/**footers ends/